<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6006397699756';
fb_param.value = '10';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = (location.protocol=='http:'?'http':'https')+'://connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none"
src="https://www.facebook.com/offsite_event.php?id=6006397699756&amp;value=10"
/></noscript>

<!-- Rating@Mail.ru counter -->
<script type="text/javascript">//<![CDATA[
(function(w,n,d,r,s){(new Image).src='http://d6.c3.b3.a2.top.mail.ru/counter?id=2307635;js=13'+
((r=d.referrer)?';r='+escape(r):'')+((s=w.screen)?';s='+s.width+'*'+s.height:'')+';_='+Math.random();})(window,navigator,document);//]]>
</script><noscript><div style="position:absolute;left:-10000px;"><img src="http://d6.c3.b3.a2.top.mail.ru/counter?id=2307635;js=na"
style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" /></div></noscript>
<!-- //Rating@Mail.ru counter -->